
body{
  min-height: 100vh;
  background: #dbcfcf;
  padding: 0px;
  margin: 0px;
  font-family: 'Roboto', sans-serif;  
}

.category_image{

  width: 320px; height: 160px; object-fit: cover;  
  border-radius: 9px;

}
.masthead {
  position: fixed;
  right: 0%;
  left: 0%;
  top:0%;
  height: 75px;
  background: #272427;
  overflow: visible;

}


.logo{
  position: fixed;
  left: 0px;
  height: 75px;
  width: 275px;
  background: #272427;
  grid-area: logo;
 }


/* Navigation */
.navigation {
  /*position: fixed; */
  position: fixed;
  left: 0%;
  top: 75px;
  bottom: 0px;
  width: 300px;
  background: #ffffff;
  overflow: hidden;
}

.navigation ul {
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  padding: 0px;
  margin: 0px;
}

.navigation ul li{
  width: 100%;
  position: relative;
  list-style: none;

}
.navigation ul li:hover{
  transition: 0.5s;
  background: rgb(173, 173, 173);
}
.navigation ul a{
  position: relative;
  width: 100%;
  display: flex;
  text-decoration: none;
  color: #272427;
}
.navigation ul a .icon{
  position: relative;
  min-width: 100px;
  height: 60px;
  line-height: 60px;
  text-align: center;
  font-size: larger;

}
.navigation ul a .title{
  position: relative;
  height: 60px;
  line-height: 60px;
  font-size: large;
  
}
/* Navigation */







/*SEARCH BAR */

.topbarcontainer{
  padding-top: 22.5px;
  padding-left: 300px;
  left: 275px;
  }
  
  .search {
    padding-left: 30px;
    width: 50%;
    display: flex;
  }
  
  .searchTerm {
    width: 100%;
    border: 1px solid #dbdbdb;
    border-right: none;
    height: 30px;
    outline: none;
    color: #272427;
  }
  
  .searchTerm:focus{
    color: #272427;
  }
  
  .searchButton {
    background: #272427;
    color: rgb(255, 255, 255);
    border: 1px solid #000000;
    cursor: pointer;
    font-size: 15px;
  }
  
  /*SEARCH BAR */












/*  Removed Footer for now
.footer {
  background: #997142;
  text-align: center;
}*/




ul.info {
  list-style-type: none; /* Remove bullets */
  padding: 0; /* Remove padding */
  margin: 0; /* Remove margins */
}

.site{
  width: 100%;
  height: 100%;
}


/* NEW GRID LAYOUT */




.main-content {  
  bottom: 0px;
  
  top: 75px;
  left: 300px;
  right: 0px;
  height: 100vh;
  width: auto;

  
  
  padding-top: 20px;
  padding-bottom: 100px;
  padding-left: 45px;

  
 
  
  
  
  z-index: -1;
  position: absolute;
  background: #ffffff;
  


  display:grid; 
  grid-gap: 37px;
  grid-template-columns:  350px 350px 350px 350px;
  grid-template-rows: 200px 200px 200px ;
  grid-template-areas:
  "vote1 vote2 vote3 vote4"
  "vote5 vote6 vote7 vote8"
  "vote9 vote10 vote11 vote12";
}

#allvotes{
  background: #eeeeee;
  width: 100%;
  height: 100%;
  text-align: center;
  padding-top: 15px;
  border-radius: 9px;
}

.vote1{
  grid-area: vote1;
 }
 .vote2{
  grid-area: vote2;
 }

 .vote3{
  grid-area: vote3;
 }

 .vote4{
  grid-area: vote4;
 }

 .vote5{
  grid-area: vote5;
 }

 .vote6{
  grid-area: vote6;
 }

 .vote7{
  grid-area: vote7;
 }

 .vote8{
  grid-area: vote8;
 }

  
 .vote9{
  grid-area: vote9;
 }
  
 .vote10{
  grid-area: vote10;
 }
  
 .vote11{
  grid-area: vote11;
 }
  
 .vote12{
  grid-area: vote12;
 }

/* NEW GRID LAYOUT */




































/* CHECKMARK-------------------------------------------- */
/* The selection_container */
.selection_container {
  display: block;
  position: relative;
  padding-left: 150px;
  margin-bottom: 128px;
  cursor: pointer;
  font-size: 22px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/*Hide the browser's default checkbox*/
.selection_container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

/* Create a custom checkbox */
.selection {
  position: absolute;
  top: 0;
  left: 0;
  height: 128px;
  width: 128px;
  background: #3C3C3C;
  border-radius: 8px;
}

/* On mouse-over, add a grey background color */
.selection_container:hover input ~ .selection {
  border: 4px solid black;
  border-radius: 8px;
}

/* When the checkbox is checked, add a blue background */
.selection_container input:checked ~ .selection {
  border: 4px solid rgb(191, 72, 221);
  border-radius: 8px;
}
/* CHECKMARK-------------------------------------------- */


