/* CHECKMARK-------------------------------------------- */
/* The selection_container */
.selection_container {
    display: block;
    position: relative;
    padding-left: 150px;
    margin-bottom: 128px;
    cursor: pointer;
    font-size: 22px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
  
  /*Hide the browser's default checkbox*/
  .selection_container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
  }
  
  /* Create a custom checkbox */
  .selection {
    position: absolute;
    top: 0;
    left: 0;
    height: 128px;
    width: 128px;
    background: #3C3C3C;
    border-radius: 8px;
  }
  
  /* On mouse-over, add a grey background color */
  .selection_container:hover input ~ .selection {
    border: 4px solid black;
    border-radius: 8px;
  }
  
  /* When the checkbox is checked, add a blue background */
  .selection_container input:checked ~ .selection {
    border: 4px solid rgb(191, 72, 221);
    border-radius: 8px;
  }
  /* CHECKMARK-------------------------------------------- */